<h1>About Us</h1>
<p>
  <a href="http://getcloudify.org">Cloudify</a>
  is an open source, pure play orchestration solution. This
  Ruby on Rails application can be provisioned and scaled
  automatically across <a href="http://cloudfoundry.org/index.html">Cloud Foundry</a>
  clouds.
</p>
