<h1>Contact</h1>
<p>
  Contact <a href="mailto:cosmo-admin@gigaspaces.com?subject=Cloudify CloudFoundry integration">GigaSpaces</a> about
  the Cloudify CloudFoundries APP or visit the <a href="http://getcloudify.org">Cloudify</a> home page.
</p>
