<h1>Cloudify :: CloudFoundry APP</h1>

<p>

<div>This application helps demonstrate how to provision and scale service instances across CloudFoundry pools.</div>

<dl class="info">
  <dd>
    <span>Hostname:</span>
    <span><%= hostname %></span>
  </dd>

  <dd>
    <span>IP:</span>
    <span><%= ip_addy %></span>
  </dd>
  <dd>
    <span>Space:</span>
    <span><%= space %></span>
  </dd>
</dl>

</p>
